.katalog{
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  
}
.katalog p{
    font-size: 40px;
    text-align: left;
    font-weight: 500;
}

.kateg{
    display: flex;
    gap: 20px;
}
.kateg p{
    font-size: 18px;
    font-weight: 600;
}

 .kk{
    background-color:  rgba(0, 9, 234, 1);
    color: white;
    box-shadow: none;
    
    font-size: 16px;
}

.k{
    font-size: 16px;
  background-color: white;
 
    color:  rgba(0, 9, 234, 1);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.238);
}


.list{
    display: flex;
    justify-content: space-between;
 
    flex-wrap: wrap;
    margin-top: 45px;
}

.item{
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33.33% - 20px); 
    box-sizing: border-box;
    max-width: calc(33.33% - 20px);
    margin: 20px 0;
  
}


.item p{
font-size: 15px;
font-weight: 450;
}

.item_q{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.item_q p{
    font-size: 32px;
    color:  rgba(0, 9, 234, 1);
    font-weight: 600;
}

.item_q button{
    font-size: 20px;
    color: white;
    background-color:  rgba(0, 9, 234, 1) ;
    display: inline-block;
    padding: 10px 15px;
}

.qq {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
   
}

.more {
    padding: 10px 20px;
    background-color: #f9f9f9a1;
    color:  rgba(0, 9, 234, 1) ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}